* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.main-cont {
    height: 670px;
    width: 100%;
    background-color: #101010;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: #191919;
    border-bottom: 1px solid blue;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: blue;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    font-weight:bold ;
    font-size: 16px;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: blue;
    transition: 0.5s;
}

.btn {
    background-color: blue;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    transition: transform .5s;
}

.btn:hover {
    transform: scale(1.2);
    border: 2px solid blue;
    background-color: transparent;
}

.image {
    width: 40%;
    height: 100%;
    position: absolute;
    bottom: 70px;
    right: 100px;
}

.image img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 23%;
    transform: translateX(20%);
}

.content {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translateY(-50%);
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
h1 {
    color: white;
    font-size: 65px;
    margin: 20px 0 30px;
}
h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.content a{
    font-size: 20px;
    background: blue;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
    transition: .5s;
}

.content a:hover {
    background: transparent;
    border: 2px solid blue;
}

#portofolio{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
.headings{
    text-align: center;
}

.about {
    width: 100%;
    padding: 100px 0;
    background-color: #101010;
}

.about-me {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me img {
    height: auto;
    width: 430px;
    border-radius: 10px;
}

.about-text {
    width: 550px;
}

.about-text h2 {
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid blue;
}
.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}

.button {
    background-color: blue;
    color: white;
    border: 2px solid white;
    padding: 13px 30px;
    border-radius: 30px;
}

.button:hover {
    background-color: transparent;
    border: 2px solid blue;
    cursor: pointer;
}

#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color: #101010;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, blue 50%,white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgba(red, green, blue, alpha);
}
.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}
.header {
    color: #101010; 
}


.contact-me {
    width: 100%;
    padding: 100px 0;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-text h2{
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.contact-box {
    color: white;
}

.contact-box:after {
    content: "";
    display: block;
    clear: both;
}

.contact {
    width: 30%;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin-left: 30px;
}

.contact h4 {
    color: blue;
    padding-bottom: 10px;
}

.contact p {
    font-size: 18px;
}



@media (max-width:768px) {
    .content {
        margin-bottom: 200px;
    }
    .image {
        flex-wrap: wrap;
    }
    .service {
        display: flex;
        flex-direction: column;
    }

    .main-cont {
        display: flex;
        flex-direction: column;
    }
}